.menusHeader {
    height: 45rem;

    h1 {
        color: #fff;
        font-family: 'Playfair Display', serif;
        font-size: 7.7rem;
        margin: 0;
    }

    p {
        font-size: 1.7rem;
        font-family: 'Playfair Display', serif;
    }

    .header__heading {
        margin-top: 16rem;
    }
}