.menuContainer {
    width: 110rem;
    max-width: 90%; 
    margin: 0 auto 15rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu {
    &__list {
        padding: 2rem 3rem;
        list-style: none;
        flex: 3;
        border: #333 double .7rem;
        margin: 0;

        h3 {
            background-color: #333;
            color: #fff;
            display: inline-block;
            font-size: 2rem;
            padding: .5rem 1rem;
            margin: .5rem 0 1rem;
            font-family: 'Playfair Display', serif;
        }
    }

    &__listItem {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        h4 {
            font-size: 1.7rem;
            margin: 0;
            font-family: 'Playfair Display', serif;
        }

        h5 {
            font-size: 1.71rem;
            font-weight: 500;
            font-family: 'Playfair Display', serif;
        }

        p {
            color: gray;
            font-size: 1.2rem;
            font-family: 'Playfair Display', serif;
        }
    }
    
    &__images {
        flex: 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 2.2rem;
    }

    &__image {
        width: 49.5%;
        height: 25rem;
        margin-bottom: .6rem;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.appetizers .menu__images {
    margin-left: 0;
    margin-right: 2.2rem;
} 

//media queries 
@media(max-width: 925px) {
    .menuContainer {
        flex-direction: column;
        width: 60rem;
        max-width: 90%;
        align-items: center;
        margin: 7rem auto;
    }

    .menu {
        &__images {
            display: none;
        }

        &__list {
            width: 100%;
            max-width: 90%;
            margin: 0;
        }
    }
}